@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.numberInput {
		@apply mt-2 rounded-md bg-gray-100 px-4 py-3 text-violet-600 outline-none;
	}

	.sliderInput {
		@apply mt-5 cursor-pointer appearance-none bg-transparent bg-violet-600 outline-none;
	}

	.sliderInput::-webkit-slider-runnable-track {
		background-color: #7c3aed;
		border-radius: 0.5rem;
		height: 1rem;
	}

	.sliderInput::-webkit-slider-thumb {
		@apply -mt-2 h-8 w-4 appearance-none rounded-full bg-white outline outline-2 outline-violet-700;
	}

	.sliderInput::-moz-range-track {
		@apply h-8 w-4 rounded-full bg-white outline outline-2 outline-violet-700;
	}

	.sliderInput::-moz-range-thumb {
		@apply h-8 w-4 rounded-full bg-white outline outline-2 outline-violet-700;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
